#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MythTV Backend Startup
Comment=Used to start a backend
GenericName=mythtv-startup
Terminal=true
Exec=/config/scripts/run_mythbackend
Type=Application
Icon=mythtv
Categories=GTK;System;Settings;
X-AppInstall-Package=mythtv